<h1>Job Applications</h1>

<div class="search-box">
  <form method="POST" action="" class="form-search">
    <%= csrf_token_field %>
    <b>Max Renumeration (USD)</b>
    <input type="number" min=0 step="0.01" name="maxrem"/>
    <input type="submit" value="filter" id="filter-button" class="btn btn-primary"/>
  </form>
</div>

<table class="table table-bordered">
	<tr>
		<th width="20%">Applicant email</th>
		<th width="42%">Applicant short bio</th>
		<th width="20%">Application date and time</th>
		<th width="18%">Intended remuneration (USD)
		<%= link_to '<i class="glyphicon glyphicon-chevron-up"></i>'.html_safe, url_for(:job_applications, :offer, :offer_id => @job_offer.id, :order => 'asc')%>
		<%= link_to '<i class="glyphicon glyphicon-chevron-down"></i>'.html_safe, url_for(:job_applications, :offer, :offer_id => @job_offer.id, :order => 'desc')%>	  
    </th>
	</tr>
	<% @applications.each do | application| %>

	<tr>
		<td width="20%">
			<%= application.applicant_email %>
		</td>
		<td width="42%">
			<%= application.applicant_short_bio %>
		</td>
		<td width="20%">
			<%= application.created_on %>
		</td>
		<td width="18%">
			<div align="right">$ <%= application.intended_remuneration %></div>
		</td>
	</tr>

  <% end %>

</table>