<%= f.label :title, :caption => "Title: *" %>
<%= f.text_field :title, :class => "input-block-level" %>
<%= f.label :location %>
<%= f.text_field :location, :class => "input-block-level" %>
<%= f.label :description %>
<%= f.text_area :description, :class => "input-block-level" %>
<%= f.label :years_required, :caption => "Years of experience required: *" %>
<%= f.text_field :years_required, :class => "input-block-level" %>
<%= f.label :expiration_date, :caption => "Expiration date: " %>
<%= f.text_field :expiration_date, :class => "input-block-level" %>

<br/>

<p>Fields marked with * are mandatory.</p>