<h1>Job Application</h1>

	
<p>Please enter your email address to receive the contanct information for this offer.</p>
<% form_for(@job_application, "/job_offers/apply/#{@job_offer.id}") do |f| %>

  <%= f.label :applicant_email %>
 	<%= f.text_field :applicant_email, :class => "input-block-level" %>
  <%= f.label :applicant_short_bio %>
 	<%= f.text_area :applicant_short_bio, :class => "input-block-level" %>
 	<%= f.label :intended_remuneration, :caption => "Intended remuneration (USD): *" %>
 	<%= f.text_field :intended_remuneration, :class => "input-block-level" %>
  <%= recaptcha_tags %>
 
  <br/>
  <p>Fields marked with * are mandatory.</p>
  <hr/>
  <%= f.submit "Apply", :class => "btn btn-primary" %>
  <%= link_to 'Cancel', url_for(:job_offers, :latest), :class => "btn btn-secondary" %>
<% end %>