<% form_for(@job_offer, "/job_offers/finalize/#{@job_offer.id}") do |f| %>
  <h1>Finalize <%= @job_offer.title %></h1>

  <p>Please specify the reason why this offer is going to be finalized.</p>
  <%= f.select :finalization_reason, options: ['Canceled', 'Internal Applicant Hired', 'External Applicant Hired'], :selected => 'Canceled' %>

  <%= f.submit "Finalize", :class => "btn btn-primary", :id => 'saveButton' %>
  <%= link_to 'Cancel', url_for(:job_offers, :myall), :class => "btn btn-secondary", :id => 'cancelButton' %>
<% end %>