<h1>Current Job Offers</h1>
<div class="search-box">
	<form method="POST" action="/job_offers/search" class="form-search">
		 <%= csrf_token_field %>
		<input type="text" name="q" value="<%= @q %>"/>
		<input type="submit" value="search" name="search_button" id="search-button" class="btn btn-primary"/>
		<input type="submit" value="clear" name="clear_button" id="clear-button" class="btn btn-secondary"/>
	</form>
</div>

<table class="table table-bordered">
	<tr>
		<th>Title</th>
		<th>Location</th>
		<th>Description</th>
		<th>Experience required</th>
		<th>Actions</th>
	</tr>
	<% @offers.each do | offer| %>

	<tr>
		<td>
			<%= offer.title %>
		</td>
		<td>
			<%= offer.location %>
		</td>
		<td>
			<%= offer.description %>
		</td>	
		<td>
			<%= offer.years_required == 0 || nil ? "No experience" : (offer.years_required.to_s + " years") %>
		</td>		
		<td>
			<%= link_to 'Apply', url_for(:job_offers, :apply, :offer_id => offer.id), :class => "btn btn-primary" %>
		</td>		
	</tr>

  <% end %>

</table>