<% if request.path_info == '/job_offers/my' %>
    <h1>My Active Job Offers</h1>
<% end %>
<% if request.path_info == '/job_offers/myall' %>
    <h1>My Job Offers</h1>
<% end %>

<table class="table table-bordered">
	<tr>
		<th>Title</th>
		<th>Location</th>
		<th>Description</th>
		<th>Experience required</th>
		<th>Number of applications</th>
		<% if request.path_info == '/job_offers/myall' %>
			<th>Is active</th>
			<th>Finalization reason</th>
		<% end %>
		<th>Actions</th>
	</tr>
	<% @offers.each do | offer| %>

	<tr>
			<td>
			<%= offer.title %>
		</td>
		<td>
			<%= offer.location %>
		</td>
		<td>
			<%= offer.description %>
		</td>
		<td>	
			<%= offer.years_required == 0 || nil ? "No experience" : (offer.years_required.to_s + " years") %>
		</td>					
		<td>
			<%= offer.submitted_applications %>
		</td>
		<% if request.path_info == '/job_offers/myall' %>
			<td>
				<%= offer.is_active %>
			</td>		
			<td>
				<%= offer.finalization_reason %>
			</td>	
		<% end %>

		<td>
			<%= link_to 'Edit', url_for(:job_offers, :edit, :offer_id => offer.id), :class => "btn btn-primary" %>
			<%- form_tag url(:job_offers, :destroy, :offer_id => offer.id), :method => :delete, :style => 'display:inline' do %>
                <button type='submit' title="Delete offer" rel='tooltip' class="btn btn-secondary" >Delete
				</button>
			<% if offer.is_active %>
				<%= link_to 'Finalize', url_for(:job_offers, :finalize, :offer_id => offer.id), :class => "btn btn-secondary" %>
			<% end %>
            <%= link_to 'View applications', url_for(:job_applications, :offer, :offer_id => offer.id), :class => "btn btn-secondary" %>
       <% end %>
  <% if !(offer.is_active) && (offer.finalization_reason == 'Expired')%>
            <%- form_tag url(:job_offers, :republish, :offer_id => offer.id), :method => :put, :style => 'display:inline' do %>
                  <button type='submit' title="Republish offer" rel='tooltip' class="btn btn-secondary" >Republish
                  </button>
                <% end %>
       <% end %>
		</td>	
	</tr>

  <% end %>



</table>

<% if request.path_info == '/job_offers/my' %>
<%= link_to 'View All Offers', url_for(:job_offers, :myall) %>
<% end %>
